*.~*~
Makefile
autom4te.cache
bin/Makefile
bin/nodemgr
bin/querytest
bin/reporttest
bin/serdes_decode
bin/serdes_encode
bin/serdes_gen
config.log
config.status
config/config.h
config/stamp-h1
lib/Makefile
lib/libsmsg.a
src/.deps/
src/.dirstamp
src/nodemgr.o
src/querytest.o
src/reporttest.o
src/serdes.o
src/serdes_decode.o
src/serdes_encode.o
src/serdes_gen.o
src/smsg.o
ulapidir

